
<nb-card>
  <nb-card-body>

    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon colorClass="btn-primary"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-secondary"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-success"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-danger"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-warning"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-info"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-light"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-dark"></lamb-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <lamb-button-icon size="sm" colorClass="btn-link"></lamb-button-icon>
      </div>
    </div>
  </nb-card-body>
</nb-card>