/* You can add global styles to this file, and also import other style files */

@import '~@nebular/theme/styles/theming';
@import './dist/lamb-web-lib/lib/styles/themes/default';


$nb-themes: nb-register-theme((
  shadow: 0 1px 2px 0 #611F3A,
  layout-bg: #fbf9f3,
  form-control-selected-border-color: #611F3A,

  // menu-submenu-item-border-width: 0rem,
  // menu-submenu-item-container-padding: 0 0 0 0.5rem,
  color-fg-highlight: #611F3A,
), default, default);